.drug_item{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  img{
    width: 100%;
  }
  .drug_item--title{
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
}